---
title: "Home"
layout: default
tags: page
skills:
  - title: Style, Design, & Color theory
    percent: 12
  - title: TypeScript & Javascript
    percent: 80
  - title: C#
    percent: 60
  - title: Python
    percent: 60
  - title: CI/CD
    percent: 90
  - title: Robotics
    percent: 20
---

{% render "partials/_profile_hero", 
  sting: "Heyo, Mark Koelle Here!" ,
  socials: site.social
%}

<div class="bg-gradient-to-b from-transparent via-slate-800 px-12" id="about">
  <div class="container flex flex-col items-center py-16 md:py-20 lg:flex-row">
    <div class="w-full text-center sm:w-3/4 lg:w-3/5 lg:text-left">
      <h2 class="font-header text-4xl font-semibold uppercase text-primary sm:text-5xl lg:text-6xl">
        Who am I?
      </h2>
      <h4 class="pt-6 font-header text-xl font-medium  sm:text-2xl lg:text-3xl">
        I'm your AWS evangalist, team lead, and a general code feind.
      </h4>
      <p class="pt-6 font-body leading-relaxed text-grey-20">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
        commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
        occaecat cupidatat non proident, sunt in culpa qui officia deserunt
        mollit anim id est laborum.
      </p>
      <div class="flex flex-col justify-center pt-6 sm:flex-row lg:justify-start">
        <div class="flex items-center justify-center sm:justify-start">
          <p class="font-body text-lg font-semibold uppercase text-grey-20">
            Connect on
          </p>
          <div class="hidden sm:block">
            <i class="bx bx-chevron-right text-2xl text-yellow-400"></i>
          </div>
        </div>
        <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0 space-x-2 ">
          {%- for social in site.social %}
            <a href="{{ social.url }}">
              <div class="bx {{ social.logo }} text-2xl  hover:text-orange-400"></div>
            </a>
          {%- endfor %}
        </div>
      </div>
    </div>
    {%  render 'partials/_percent_list', items: skills %} 
  </div>
</div>