{% assign navPages = collections.all | eleventyNavigation %}
<nav class="flex h-13 bg-black">
  <div class="flex-grow "></div>
  {%- for entry in navPages %}
  <a href="{{ entry.url }}" 
{% if entry.url==page.url %} aria-current="page" data-state="active" {% endif %}
   class="px-4 hover:text-teal-400">{{
    entry.title }}</a>
  {%- endfor %}
  <div class="flex-grow"></div>
  <button @click="darkMode = !darkMode" class="bx bx-moon dark:bx-sun"></button>
</nav>
<div class="w-full bg-gradient-to-b from-black h-3 md:h-6"></div>