<nav>
  {%- for p in collections.page %}
    <a href="{{ p.url }}" {% if page.url == p.url %}
        aria-current="page"
        data-state="active"
    {% endif %}>
      {{ p.data.title }}
    </a>
  {%- endfor %}
</nav>
<div class="w-full bg-gradient-to-b from-black h-3 md:h-6"></div>