{% assign navPages = collections.all | eleventyNavigation %}
<nav>
  <div class="flex-grow"></div>
  {%- for entry in navPages %}
    <a href="{{ entry.url }}" {% if entry.url == page.url %} aria-current="page" data-state="active" {% endif %}>{{ entry.title }}</a>
  {%- endfor %}
  <div class="flex-grow"></div>
  <button @click="darkMode = !darkMode" class="bx bx-moon dark:bx-sun"></button>
</nav>
<div class="w-full bg-gradient-to-b from-black h-3 md:h-6"></div>