<div class="w-full pl-0 pt-10 sm:w-3/4 lg:w-2/5 lg:pl-12 lg:pt-0 flex flex-col space-y-6">
{%- for item in items %}
  <div class="w-full">
    <div class="flex items-end justify-between">
      <h4 class="font-semibold uppercase ">
        {{ item.title }}
      </h4>
      <h3 class="text-3xl font-bold">{{ item.percent }}%</h3>
    </div>
    <div class="mt-2 h-3 w-full rounded-full bg-green-900">
      <div class="h-3 rounded-full bg-lime-400" style="width: {{ item.percent }}%"></div>
    </div>
  </div>
{%- endfor %}
</div>