<div class="group rounded px-8 py-12 shadow">
  <div class="mx-auto h-60 w-60 text-center xl:h-52 xl:w-52">
    <div class="group-hover:scale-125 group-hover:rotate-3 transition ease-in-out duration-300">
      <img src="{{ image }}" alt="{{ image_alt }}" />
    </div>
  </div>
  <div class="text-center group-hover:-rotate-3 transition ease-in-out duration-300">
    <h3 class="pt-8 text-lg font-semibold uppercase group-hover:text-yellow-400 lg:text-xl">
      {{ title }}
    </h3>
    <p class="dark:text-gray-200 text-slate-800 pt-4 text-sm md:text-base">
      {{ slug }}
    </p>
  </div>
</div>