<div class="bg-gradient-to-b from-transparent to-emerald-950" id="footer">
  <div class="container flex flex-col justify-between py-6 sm:flex-row mx-auto">
    <p class="text-center   md:text-left">
      © Copyright 2023. All right reserved, mkoelle.
    </p>
    <div class="flex items-center justify-center pt-5 sm:justify-end sm:pt-0 space-x-2 ">
      {%- for social in socials %}
      <a href="{{ social.url }}">
        <div class="bx {{ social.logo }} text-2xl  hover:text-orange-400"></div>
      </a>
      {%- endfor %}
    </div>
  </div>
</div>